<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header">
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <!-- Sidebar -->
    <div th:replace="fragments :: sidebar"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav th:replace="fragments :: navbar" ></nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="row">
                    <div class="col-md-4">
                      <h4 class="card-title ">Product List</h4>
<!--                      <p class="card-category"> Here is a subtitle for this table</p>-->
                    </div>
                    <div class="col-md-8  text-right">
                      <div class = "row justify-content-end mr-0" >
                        <form  style="margin-right: 1.25rem" th:action="@{/search-result/0}" method="get" class="navbar-form">
                          <div class="input-group no-border">
                            <input type="text" name="keyword" class="form-control" placeholder="Search products">
                            <button type="submit" class="btn btn-default btn-round btn-just-icon">
                              <i class="material-icons">search</i>
                              <div class="ripple-container"></div>
                            </button>
                          </div>
                        </form>
                        <a class="btn btn-success" th:href="@{/add-product}">
                          <span><i class="material-icons" style="margin-right:5px">&#xE147;</i></span>Add New Product
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                      <th>ID</th>
                      <th>Name</th>
                      <th>Image</th>
                      <th>Quantity</th>
                      <th>Hot</th>
                      <th>Description</th>
                      <th>Cate</th>
                      <th>Brand</th>
                      <th>Create at</th>
                      <th>Update at</th>
                      <th>Status</th>
                      <th>Actions</th>
                      </thead>
                      <tbody>
                      <tr th:each="product : ${products}">
                        <td th:utext="${product.id}"></td>
                        <td th:utext="${product.name}"></td>
                        <td><img src="" style="height: 40px; width: 40px;" th:src="*{'data:image/jpeg;base64,' + {product.image}}"></td>
                        <td th:utext="${product.quantity}"></td>
                        <td th:utext="${product.hot}"></td>
                        <td th:utext="${product.description}"></td>
                        <td th:utext="${product.category.name}"></td>
                        <td th:utext="${product.brand.name}"></td>
                        <td th:utext="${product.createDate}"></td>
                        <td th:utext="${product.updateDate}"></td>
                        <td>
                          <button class="btn-warning" th:if="${product.status == 0}"> Ngừng hoạt động</button>
                          <button class="btn-primary" th:if="${product.status == 1}"> Đang hoạt động</button>
                        </td>
                        <td>
                          <button type="button" rel="tooltip" title="Edit Product" class="btn btn-white btn-link btn-sm">
                            <a th:href="@{/update-product/{id}(id = ${product.id})}" class="edit" ><i class="material-icons">edit</i></a>
                          </button>
                          <button th:if="${product.status} == 1" type="button" rel="tooltip" title="Remove" class="btn btn-white btn-link btn-sm">
                            <a id="deleteBtn" th:href="@{/delete-product/{id}(id = ${product.id})}" ><i class="material-icons">close</i></a>
                          </button>
                          <button th:if="${product.status} == 0" type="button" rel="tooltip" title="Enable" class="btn btn-white btn-link btn-sm">
                            <a id="enableBtn" th:href="@{/enable-product/{id}(id = ${product.id})}" ><i class="material-icons">check</i></a>
                          </button>
<!--                          <button th:if="${category.status} == 1" type="button" rel="tooltip" title="Remove" class="btn btn-white btn-link btn-sm">-->
<!--                            <a id="deleteBtn" th:href="@{/delete-category/(id = ${category.id})}" ><i class="material-icons">close</i></a>-->
<!--                          </button>-->
<!--                          <button th:if="${category.status} == 0" type="button" rel="tooltip" title="Enable" class="btn btn-white btn-link btn-sm">-->
<!--                            <a id="enableBtn" th:href="@{/enable-category/(id = ${category.id})}" ><i class="material-icons">check</i></a>-->
<!--                          </button>-->
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        <li th:if = "${currentPage != 0}"  class="page-item">
                          <a th:href="@{'/products/' + ${currentPage - 1}}" class="page-link" href="#">Previous</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage == i - 1 ? 'active' : ''}" class="page-item">
                          <a th:href="@{'/products/' + ${i - 1}}" class="page-link" href="#"><span th:text="${i}"></span></a>
                        </li>
                        <li th:if="${currentPage + 1 != totalPages}" class="page-item">
                          <a th:href="@{'/products/' + ${currentPage + 1}}" class="page-link" href="#">Next</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer th:replace="fragments :: footer"></footer>
      <script>
        const x = new Date().getFullYear();
        let date = document.getElementById('date');
        date.innerHTML = '&copy; ' + x + date.innerHTML;
      </script>
    </div>
  </div>


  <div th:replace="fragments :: fixed-plugin"></div>
  <div th:replace="fragments :: script"></div>
  <script type="text/javascript" th:inline="javascript">
    $(document).ready(function() {
      var html = sessionStorage.getItem("notify") == null ?
              "<a class=\"dropdown-item\" href=\"javascript:void(0)\">Login successful</a>\n" :
              sessionStorage.getItem("notify");
      $('#notifications').html(html);
      $('.notification').html($('#notifications').children().length);

      // sessionStorage.setItem("notify", $('.dropdown-menu').html());
      $('table #editBtn').on('click', function (event){
        event.preventDefault();
        var href= $(this).attr('href');
        $.get(href, function (category, status){
          $('#idEdit').val(category.id);
          $('#nameEdit').val(category.name);
          $('#parentIdEdit').val(category.parentID);
        })
        $('#editModal').modal();

      })

      var message = [[${message}]]
      if (message !== null && message !== '') {
        html = sessionStorage.getItem("notify") == null ?
                "<a class=\"dropdown-item\" href=\"javascript:void(0)\">Login successful</a>\n" :
                sessionStorage.getItem("notify");
        var html_message = "<a class=\"dropdown-item\" href=\"javascript:void(0)\">"+ message +"</a>"
        html += html_message
        $('#notifications').html(html);
        $('.notification').html($('#notifications').children().length);

        sessionStorage.clear();
        sessionStorage.setItem("notify", html);

        $.notify({
          // options
          title: '<strong>Notification</strong>',
          message: "" + message,
          icon: 'add_alert',
        },{
          // settings
          element: 'body',
          position: null,
          type: "info",
          allow_dismiss: true,
          newest_on_top: false,
          showProgressbar: false,
          placement: {
            from: "top",
            align: "right"
          },
          offset: 20,
          spacing: 10,
          z_index: 1031,
          delay: 3300,
          timer: 1000,
          url_target: '_blank',
          mouse_over: null,
          animate: {
            enter: 'animated rollIn',
            exit: 'animated rollOut'
          },
          onShow: null,
          onShown: null,
          onClose: null,
          onClosed: null,
          icon_type: 'class',
        });
      }
    });
  </script>
</body>

</html>