<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head th:replace="fragments_cus::head">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
  <!-- Start Main Top -->
  <div th:replace="fragments_cus::main-top"></div>
  <!-- End Main Top -->


  <!-- Start Main Top -->
  <header th:replace="fragments_cus::main-header"></header>
  <!-- End Main Top -->

  <!-- Start Top Search -->
  <div th:replace="fragments_cus::top-search"></div>
  <!-- End Top Search -->

  <!-- Start All Title Box -->
  <div th:replace="fragments_cus::slider"></div>
  <!-- End All Title Box -->

  <!-- Start Shop Page  -->
  <div class="shop-box-inner">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
          <div class="right-product-box">
            <div class="product-item-filter row">
              <div class="col-12 col-sm-8 text-center text-sm-left">
                <div class="toolbar-sorter-right">
                  <span>Sort by </span>
                  <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD" onchange="location = this.value;">
                    <option >Nothing</option>
                    <option th:value="'http://localhost:8080//products-in-brand/'+ ${brand.id} + '?sort=1'">High Price → Low Price</option>
                    <option th:value="'http://localhost:8080//products-in-brand/'+ ${brand.id} + '?sort=2'">Low Price → High Price</option>
                    <option th:value="'http://localhost:8080//products-in-brand/'+ ${brand.id} + '?sort=3'">Best Selling</option>
                  </select>
                </div>
                <p>Showing all results</p>
              </div>
              <div class="col-12 col-sm-4 text-center text-sm-right">
                <ul class="nav nav-tabs ml-auto">
                  <li>
                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                  </li>
                  <li>
                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                  </li>
                </ul>
              </div>
            </div>


            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="title-all text-center">
                    <h1 th:text="${brand.name}"></h1>
<!--                    <p>Have you a really good meal!</p>-->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                      <button class="active" data-filter="*">All</button>
                      <button data-filter=".best-seller">Best seller</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row special-list">
                <!--                <div class="col-lg-3 col-md-6 special-grid best-seller" >-->
                <!--                    <div class="products-single fix">-->
                <!--                        <div class="box-img-hover">-->
                <!--                            <img src="images/Crab 05 - Spacy Crab Dip.jpg" class="img-fluid" alt="Image">-->

                <!--                            <div class="mask-icon">-->
                <!--                                <ul>-->
                <!--                                    <li><a href="product-detail.html" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>-->
                <!--                                </ul>-->
                <!--                                <a class="cart" href="#">Add to Cart</a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="why-text">-->
                <!--                            <h4>Spacy Crab Dip</h4>-->
                <!--                            <h5> $36.70</h5>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="col-lg-4 col-md-6 special-grid" th:each="product : ${products}"
                     th:if="${product.brand.name == brand.name}">
                  <div class="products-single fix" >
                    <div class="box-img-hover"  style="min-height: 143px">
                      <img th:src="*{'data:image/jpeg;base64,' + product.image}" class="img-fluid" alt="Image">
                      <div class="mask-icon">
                        <ul>
                          <li><a th:href="@{/find-product/{id}(id = ${product.id})}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                        </ul>
                        <a class="cart" th:href="@{/find-product/{id}(id = ${product.id})}">Add to Cart</a>
                      </div>
                    </div>
                    <div class="why-text">
                      <h4 th:text="${product.name}"></h4>
                      <h5 th:text="'đ ' + ${product.price}"></h5>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
          <div class="product-categori">
            <div class="search-product">
              <form action="#">
                <input class="form-control" placeholder="Search here..." type="text">
                <button type="submit"> <i class="fa fa-search"></i> </button>
              </form>
            </div>
            <div class="filter-sidebar-left">
              <div class="title-left">
                <h3>Categories</h3>
              </div>
              <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men"
                   th:each="brand : ${brands}">
                <a th:href="@{/products-in-brand/{id}(id=${brand.id})}" class="list-group-item list-group-item-action">
                  [[${brand.name}]]
                  <small class="text-muted" th:text="'(' + ${brand.numberOfProduct + ')'}"></small>
                </a>
              </div>
            </div>
            <div class="filter-price-left">
              <div class="title-left">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Shop Page -->

  <!-- Start Feed  -->
  <div th:replace="fragments_cus::instagram-box"></div>
  <!-- End Feed  -->


  <!-- Start Footer  -->
  <footer th:replace="fragments_cus::footer">
  </footer>


  <!-- ALL JS FILES -->
  <div th:replace="fragments_cus::script"></div>
  <script>
    $(document).ready(function() {
      var sort = [[${sort}]];
      var innerHTML = "";
      var brandId = [[${brand.id}]]
      var baseURL = "http://localhost:8080/products-in-brand/" + brandId + "?sort=";

      switch (sort){
        case 0:
          innerHTML =
                  "            <option value=\"" + baseURL + "0\">Nothing</option>" +
                  "            <option value=\"" + baseURL + "1\">High Price → Low Price</option>" +
                  "            <option value=\"" + baseURL + "2\">Low Price → High Price</option>" +
                  "            <option value=\"" + baseURL + "3\">Best Selling</option>";
          break;
        case 1:
          innerHTML =
                  "            <option value=\"" + baseURL + "1\">High Price → Low Price</option>" +
                  "            <option value=\"" + baseURL + "0\">Nothing</option>" +
                  "            <option value=\"" + baseURL + "2\">Low Price → High Price</option>" +
                  "            <option value=\"" + baseURL + "3\">Best Selling</option>";
          break;
        case 2:
          innerHTML =
                  "            <option value=\"" + baseURL + "2\">Low Price → High Price</option>" +
                  "            <option value=\"" + baseURL + "0\">Nothing</option>" +
                  "            <option value=\"" + baseURL + "1\">High Price → Low Price</option>" +
                  "            <option value=\"" + baseURL + "3\">Best Selling</option>";
          break;
        case 3:
          innerHTML =
                  "            <option value=\"" + baseURL + "3\">Best Selling</option>" +
                  "            <option value=\"" + baseURL + "0\">Nothing</option>" +
                  "            <option value=\"" + baseURL + "1\">High Price → Low Price</option>" +
                  "            <option value=\"" + baseURL + "2\">Low Price → High Price</option>";
          break;
      }
      $('.product-item-filter #basic').html(innerHTML)
    })
  </script>
</body>

</html>